:root {
  --lebar: 100vw;
}

* {
  margin: 0;
  padding: 0;
}
body header {
  background-color: #d1b190;
  width: var(--lebar);
  height: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid black;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
body header .HLeft {
  flex-grow: 1;
  height: fit-content;
  display: flex;
  align-items: center;
  column-gap: 15px;
}
body header .HLeft img {
  height: 30px;
  border-radius: 50%;
  outline: 3px double black;
  outline-offset: 2px;
}
/* rotate----------------------------- */
.rotateOpen {
  rotate: -90deg;
  transition: 2s;
}
.rotateClose {
  rotate: initial;
  transition: 2s;
}
/* ----------------------------------- */
body header .HLeft span {
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 2px;
}
body header .HCenter {
  flex-grow: 1;
}

body header .HRight {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

body header .HRight .profile {
  display: flex;
  align-items: center;
}
body header .HRight .profile img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  outline: 1px solid black;
}
body header .HRight .profile div {
  display: none;
}
body main {
  width: var(--lebar);
  /* height: javascript */
}
body main nav {
  background-color: #f8f4e1;
  height: inherit;
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Nav close&open----------------------------- */
.navOpen {
  width: 250px;
  transition: 2s;
}
.navClose {
  width: 0;
  transition: 2s;
}
/* ----------------------------------- */
body main nav div {
}
body main nav div section {
  border-bottom: 1px solid black;
}
body main nav div section span {
  display: block;
  text-decoration: underline double;
  font-weight: bold;
  margin: 4px;
}
body main nav div section a {
  display: flex;
  column-gap: 5px;
  align-items: center;
  text-decoration: none;
  color: inherit;
  margin: 6px;
  padding: 2px;
}
body main nav div section a:hover {
  background-color: #eed559;
  outline: 1px solid black;
  border-radius: 4px;
}
/* Nav Active ------------------------ */
.navActive {
  background-color: #eed559;
  outline: 1px solid black;
  border-radius: 4px;
}
/* ----------------------------------- */
body main nav div section a img {
  height: 30px;
}
body main nav div section a p {
}
body main aside {
  flex-grow: 1;
  height: inherit;

  display: flex;
}
body main aside iframe {
  flex-grow: 1;
}

footer {
  background-color: #f8edb7;
  width: inherit;
  height: fit-content;
  border-top: 3px solid black;
  text-align: center;
  font-weight: bolder;

  position: sticky;
  bottom: 0;
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.99px) {
  body main nav {
    position: absolute;
  }
}

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) {
  body main {
    display: flex;
  }
}
