:root {
  --lebar: 100vw;
  --imgProfile: 40px;
  --profile_real: 50px;
  --radius_wrapper_profil: 20px;
  --burger_duration: 200ms;
}

* {
  margin: 0;
  padding: 0;
}
body header {
  background-color: #d1b190;
  width: var(--lebar);
  height: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid black;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
body header .HLeft {
  flex-grow: 1;
  height: fit-content;
  display: flex;
  align-items: center;
  column-gap: 15px;
}
body header .HLeft img {
  height: 30px;
  border-radius: 50%;
  outline: 3px double black;
  outline-offset: 2px;
}
/* rotate----------------------------- */
.rotateOpen {
  rotate: -90deg;
  transition: var(--burger_duration);
}
.rotateClose {
  rotate: initial;
  transition: var(--burger_duration);
}
/* ----------------------------------- */
body header .HLeft span {
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 2px;
}
body header .HCenter {
  flex-grow: 1;
}

body header .HRight {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

body header .HRight .profile {
  display: flex;
  align-items: center;
  position: relative;
}
body header .HRight .profile .profile_icon {
  border-radius: 50%;
  height: var(--imgProfile);
  width: var(--imgProfile);
  outline: 1px solid black;
}

body header .HRight .profile .wrapper_profil_first {
  position: absolute;
  right: var(--imgProfile);
  top: var(--imgProfile);
  border-radius: var(--radius_wrapper_profil) 0 var(--radius_wrapper_profil)
    var(--radius_wrapper_profil);
  outline: 3px solid black;
  background-color: #eed559;
}
body header .HRight .profile .wrapper_profil_first .wrapper_profil_second {
  height: 85vh;
  width: 250px;
  margin: 10px;

  display: grid;
  grid-template-rows: var(--profile_real) auto;
  grid-template-columns: var(--profile_real) auto;
  gap: 10px;
}
/* Profil Active & Non Active */
.profileOpen {
  display: initial;
}
.profileClose {
  display: none;
}
/* -------------------------- */
body
  header
  .HRight
  .profile
  .wrapper_profil_first
  .wrapper_profil_second
  .profile_real {
  grid-column: 1/2;
  grid-row: 1/2;

  width: var(--profile_real);
  height: var(--profile_real);
  outline: 2px solid black;
  border-radius: 50%;
}
body header .HRight .profile .wrapper_profil_first .wrapper_profil_second span {
  grid-column: 2/3;
  grid-row: 1/2;

  align-self: center;
}
body
  header
  .HRight
  .profile
  .wrapper_profil_first
  .wrapper_profil_second
  .content_profile {
  grid-column: 1/3;
  grid-row: 2/3;

  border-radius: 0 0 var(--radius_wrapper_profil) var(--radius_wrapper_profil);
  padding: 0 3px 11px 3px;
  margin: 0 -10px -10px -10px;
  overflow-y: auto;
  overflow-x: hidden;
}
body main {
  width: var(--lebar);
  /* height: javascript */
}
body main nav {
  background-color: #f8f4e1;
  height: inherit;
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Nav close&open----------------------------- */
.navOpen {
  width: 250px;
  transition: var(--burger_duration);
}
.navClose {
  width: 0;
  transition: var(--burger_duration);
}
/* ----------------------------------- */
body main nav div {
}
body main nav div section {
  margin: 10px;
  border-bottom: 1px solid black;
}
body main nav div section span {
  display: block;
  text-decoration: underline double;
  font-weight: bold;
  margin: 4px;
}
body main nav div section a {
  display: flex;
  column-gap: 5px;
  align-items: center;
  text-decoration: none;
  color: inherit;
  margin: 6px;
  padding: 2px;
}
body main nav div section a:hover {
  background-color: #eed559;
  outline: 1px solid black;
  border-radius: 4px;
}
/* Nav Active ------------------------ */
.navActive {
  background-color: #eed559;
  outline: 1px solid black;
  border-radius: 4px;
}
/* ----------------------------------- */
body main nav div section a img {
  height: 30px;
}
body main nav div section a p {
}
body main aside {
  flex-grow: 1;
  height: inherit;

  display: flex;
}
body main aside iframe {
  flex-grow: 1;
}

footer {
  background-color: #f8edb7;
  width: inherit;
  height: fit-content;
  border-top: 3px solid black;
  text-align: center;
  font-weight: bolder;

  position: sticky;
  bottom: 0;
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.99px) {
  body main nav {
    position: absolute;
  }
}

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) {
  body main {
    display: flex;
  }
}
